
{% extends 'base.html' %}

{% block content %}
    <div>
        <h3>
            {% if task.id > 0 %}
                <h1>Edit Task</h1>
            {% else %}
                <h1>Add Task</h1>
            {% endif %}
        </h3>
        <hr/>
         <form action="{% url 'addEditTask' taskId %}" method="post" >
            {% csrf_token %}
             <div class="form-row">
                 {% if request.user.is_superuser or request.user.profile and request.user.profile.is_instructor %}
                  <div class="col">
                    <label for="section">Event - Agency - Section</label>
                  <div class="col-sm-10">
                      <select class="form-control" id="section" name="section" required>
                          {% for section in sections %}
                                <option value="{{ section.id }}">
                                    {% if section.event %}
                                        {{ section.event }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                        -
                                    {% if section.agency %}
                                        {{ section.agency }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                        -
                                    {{ section }}
                                </option>
                          {% endfor %}
                      </select>
                  </div>
                </div>
                {% endif %}

              </div>

             <div class="form-row mt-3">
                <div class="col">
                  <label for="task">Task Name</label>
                  <div class="col-sm-10">
                       <input id="task" name="task" class="form-control" type="text" maxlength="100" value="{{ task.name }}" required/>
                  </div>
                </div>
                 <div class="col">
                  <label for="assignee">Assignee</label>
                  <div class="col-sm-10">
                      <select name="assignee" id="assignee" class="form-control" required>
                          <option value="0"></option>
                           {% for assignee in assignees %}
                                <option value="{{ assignee.id }}"
                                  {% if task.assignee and task.assignee == assignee.user %}
                                      selected
                                  {% endif %}>
                                    {{ assignee.name }}
                                </option>
                          {% endfor %}
                      </select>

                  </div>
                </div>
              </div>

             <div class="form-row mt-3">
                <div class="col">
                       <label for="status">Status</label>
                  <div class="col-sm-6">
                       <select class="form-control" id="status" name="status">
                  {% for status in statuses %}
                      <option value="{{ status }}"
                          {% if task.status and task.status == status %}
                              selected
                          {% endif %}>
                          {{ status }}
                      </option>
                  {% endfor %}
              </select>
                  </div>
                </div>
                <div class="col">
                   <label for="desc">Description</label>
                  <div class="col-sm-10">

                      {% if task.description %}
                         <textarea  class="form-control" name="desc" id="desc">{{ task.description }}</textarea>
                      {% else %}
                       <textarea  class="form-control" name="desc" id="desc"></textarea>
                      {% endif%}

                  </div>
                </div>
              </div>

                 <div class="form-row mt-3">
                <div class="col">
                   <label for="duedate">Due Date</label>
                  <div class="col-sm-6">
                       <input id="duedate" name="duedate" class="form-control" type="date" value="{{ task.due_date | date:"Y-m-d" }}" required/>
                  </div>
                </div>
                <div class="col">
                     <label for="delegator">Delegator</label>
                  <div class="col-sm-6">
                      <select class="form-control" id="delegator" name="delegator">
                    <option value="Instructor"
                        {% if task.delegator and task.delegator == "Instructor" %}
                              selected
                          {% endif %}>
                        Instructor
                    </option>
                    <option value="Chair of the meeting"
                        {% if task.delegator and task.delegator == "Chair of the meeting" %}
                              selected
                          {% endif %}>
                        Chair of the meeting
                    </option>
                    <option value="Sub-group lead"
                        {% if task.delegator and task.delegator == "Sub-group lead" %}
                              selected
                          {% endif %}>
                        Sub-group lead
                    </option>
              </select>
                  </div>
                </div>
              </div>


              <div class="form-row mt-5">
                {% if task.id > 0 %}
                    <button type="submit" class="btn btn-primary">Update Task</button>
                {% else %}
                    <button type="submit" class="btn btn-primary">Add Task</button>
                {% endif %}
                  <a href="/" class="btn btn-light ml-3">Cancel</a>
              </div>

      </form>
    </div>

<script src="../static/tasksapp/js/addtask.js"></script>
{% endblock %}