
{% extends 'base.html' %}

{% block content %}
    <div>
     <h3>Fundraising Goals</h3>
        <hr/>
        <div>
            <a href="{% url 'add_edit_goal' 0 %}" class="btn btn-primary">
                Add Fundraising Goal
            </a>
        </div>
         <table class="table" cellspacing="2" border="1">
      <tr>
         <th scope="col">Goal</th>
          <th scope="col">Section</th>
          <th scope="col">Progress</th>
          <th scope="col">Note</th>
          <th scope="col">Actions</th>
      </tr>
      {% for goal in goals %}
        <tr>
            <td>{{goal.amount}}</td>
            <td>{{goal.section}}</td>
            <td>{{goal.amount}}$</td>
            <td>{{goal.note}}</td>
            <td>
                <a href="{% url 'goal_details' goal.id %}" class="btn btn-dark">View Progress</a>

                <a href="{% url 'add_edit_goal' goal.id %}" class="btn btn-primary">
                    Edit
                </a>
                <a href="/goals" class="btn btn-dark">Delete Goal</a>
            </td>
        </tr>
    {% endfor %}
    </table>

    </div>

{% endblock %}
