{% extends 'base.html' %}
<!-- This the index page that handles the display once the user is logged in to the web application
    Author: Team IO. Updated by : Yang Luo -->

{% block content %}
    <style>
        .badge-text {
            font-size: 14px;
        }
    </style>

    <h3>Tasks</h3>
    <hr/>
    <!-- Create a new task, calling the views.add task. Updated: Yang Luo-->
    <a href="/addedit/0" class="btn btn-primary mb-3">Add Task</a>

    <form action="/search/" method="post" >
        {% csrf_token %}

        <div class="row" >
                <!-- Check if the user is a professor(Super) or a student(regular), Calling index in views.py Updated: Yang Luo-->
            {% if request.user.is_superuser or request.user.profile.is_instructor %}
            <div class="col-md">
              <div class="form-group">
                  <label>Section</label>
                  <select class="form-control" name="sectionId">
                        <option value="0">All</option>
                          {% for section in sections %}
                                <option value="{{ section.id }}" {% if section.id == searchTerm.sectionId %} selected {% endif %}>{{ section }}</option>
                          {% endfor %}
                  </select>
              </div>
          </div>
            {% endif %}

            <div class="col-md">
              <div class="form-group">
                  <label>Task Name</label>
                  <input id="task" name="task" type="text" class="form-control" maxlength="100" size="10"
                    value="{{searchTerm.task}}" />
              </div>
          </div>

            <div class="col-md">
              <div class="form-group">
                  <label>Status</label>
                   <select name="status" class="form-control">
                        <option value="">All</option>
                          {% for status in statuses %}
                              <option value="{{ status }}" {% if status == searchTerm.state %} selected {% endif %}>
                                  {{ status }}
                              </option>
                          {% endfor %}
                    </select>
              </div>
          </div>

          <div class="col-sm">
              <button class="btn btn-dark" style="margin-top: 28px" type="submit" >Filter</button>
              <a class="btn btn-light" style="margin-top: 28px" href="/">
                  Show All
              </a>
          </div>

        </div>
    </form>
    <table id="tasks" class="table">
      <tr>
        <th scope="col">Event Name</th>
        <th scope="col">Task</th>
        <th scope="col">Assigned To</th>
        <th scope="col">Status</th>

        <th scope="col">Due Date</th>
          {% if request.user and request.user.profile and request.user.profile.is_instructor %}
               <th scope="col">Section</th>
            {% endif %}

        <th scope="col" class="text-center">Actions</th>
      </tr>
         {% if tasks and tasks|length > 0 %}
                {% for task in tasks %}
        <tr>
          <td>{{task.section.event}}</td>
          <td>
              <a href="#" target="_self" data-toggle="modal" data-target="#taskDetailsModal"
                      data-name="{{ task.name }}"
                      data-creator="{{ task.creator }}"
                      data-assignee="{{ task.assignee }}"
                      data-due="{{ task.due_date }}"
                      data-status="{{ task.status }}"
                      data-delegator="{{ task.delegator }}"
                      data-updated="{{ task.update_date }}"
                      data-description="{{ task.description }}">
                  {{task.name}}</a>
            </td>
          <td>{{task.assignee}}</td>
          <td>
              {% if task.status == "Unassigned" %}
                  <span class="badge badge-secondary badge-text">{{task.status}}</span>
              {% elif task.status == "Assigned" %}
                  <span class="badge badge-primary badge-text">{{task.status}}</span>
              {% elif task.status == "Finished" %}
                  <span class="badge badge-success badge-text">{{task.status}}</span>
              {% elif task.status == "Ongoing" %}
                   <span class="badge badge-info badge-text">{{task.status}}</span>
              {% elif task.status == "On Hold" %}
                   <span class="badge badge-warning badge-text">{{task.status}}</span>
              {% else %}
                  <span class="badge badge-danger badge-text">{{task.status}}</span>
              {% endif %}
          </td>
          <td>{{task.due_date}}</td>
            {% if request.user and request.user.profile and request.user.profile.is_instructor %}
               <td>{{task.section}}</td>
            {% endif %}

          <td class="text-center">
              {% if request.user.is_superuser or request.user.profile and request.user.profile.is_instructor or task.creator == request.user or task.assignee == request.user %}
                 <a href="{% url 'addEditTask' task.id %}" class="btn btn-info" title="Edit"><i class="fas fa-edit"></i></a>
              {% endif %}

              {% if request.user.is_superuser or request.user.profile and request.user.profile.is_instructor or task.creator == request.user %}
                <button type="button" class="btn btn-danger delete-btn" data-toggle="modal" data-target="#deleteModal"
                        data-id="{{ task.id }}" data-name="{{ task.name }}">
                    <i class="fas fa-trash-alt"></i>
                </button>
              {% endif %}
          </td>
        </tr>
    {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" class="text-center"><strong>No records</strong></td>
            </tr>
        {% endif %}

    </table>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <h4>Are you sure you want to delete this task?</h4>
              <h4 id="taskName"></h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a id="deleteTask" href="/" class="btn btn-danger" title="Delete">
                Delete
            </a>
          </div>
        </div>
      </div>
    </div>

<!-- Modal -->
    <div class="modal fade" id="taskDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Task Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <h5 id="taskNameDetail"></h5>
             <h5 id="taskCreator"></h5>
             <h5 id="taskAssignee"></h5>
             <h5 id="taskDue"></h5>
             <h5 id="taskStatus"></h5>
             <h5 id="taskDelegator"></h5>
             <h5 id="taskUpdated"></h5>
              <h5 id="taskDescription"></h5>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

<script src="../static/tasksapp/js/index.js"></script>

{% endblock %}

