{% extends 'base.html' %}

{% block content %}


    <div class="mt-5">
       <h3>Sections</h3>
        <hr/>
        <div class="container">
            <div>
                <a href="{% url 'add_edit_section' 0 %}" class="btn btn-primary">
                    Add Section
                </a>

            </div>
            <table id="tasks" class="table">
              <tr>
                  <th scope="col">Section</th>
                  <th scope="col">Event</th>
                  <th scope="col">Agency</th>
                  <th scope="col">Actions</th>
              </tr>
                {% for section in sections %}
                    <tr>
                        <td>{{section}}</td>
                        <td>{{section.event}}</td>
                        <td>{{section.agency}}</td>
                      <td>
                          <a href="{% url 'add_edit_section' section.id %}" class="btn btn-info" title="Edit"><i class="fas fa-edit"></i></a>

                          <button type="button" class="btn btn-danger delete-btn" data-toggle="modal" data-target="#deleteModal"
                                data-id="{{ section.id }}" data-name="{{ section }}">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                {% endfor %}
        </table>
        </div>
    </div>

<!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <h4>Are you sure you want to delete this section?</h4>
              <h4>Note: All tasks and fundraising goals in this section will be deleted as well</h4>
              <h4 id="sectionName"></h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a id="deleteSection" href="/" class="btn btn-danger" title="Delete">
                Delete
            </a>
          </div>
        </div>
      </div>
    </div>
<script src="../static/tasksapp/js/sections.js"></script>

{% endblock %}