

{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <style>
        /* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}
    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">


    <title>{% block title %}Fundraising{% endblock %}</title>

    <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'tasksapp/navbar.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="navbar-top-fixed.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="nav-link" href="#"><img src="{% static 'tasksapp/logo.png' %}" width="50px"></a>
        <a class="navbar-brand" href="#" style="font-size: 18px">FAM1255 - Community Service Learning</a>
      <ul class="navbar-nav px-3">

      </ul>
    </nav>


    <div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
            <ul class="nav flex-column">
                  <li class="nav-item">
                    <h5 class="nav-link">
                      User: {{ user.username }} <span class="sr-only"></span>
                    </h5>
                  </li>

                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'users' %}">
                        <i class="fas fa-users"></i>
                      Users <span class="sr-only"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'index' %}"">
                     <i class="fas fa-tasks"></i> Tasks <span class="sr-only">(current)</span>
                    </a>
                  </li>


                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'goals' %}">
                      <i class="fas fa-funnel-dollar"></i>
                       Fundraising Goals <span class="sr-only"></span>
                    </a>
                  </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sections' %}">
                      <i class="fas fa-address-book"></i>
                      Sections <span class="sr-only"></span>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">
                      <i class="fas fa-sign-out-alt"></i>
                      Logout <span class="sr-only"></span>
                    </a>
                  </li>


                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            {% block content %}


        {% endblock %}

            </main>
    </div>

</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
