
{% extends 'base.html' %}

{% block content %}
    <div>
        <h3>Create Goal</h3>
        <hr/>

        <div class="container">
          <form action="/goals/" method="post">
            {% csrf_token %}
              <div class="form-group">
                <label for="section">Section</label>
                  <div class="col-sm-6">
                      <select id="section" name="section" class="form-control">
                      {% for section in sections %}
                            <option value="{{ section.id }}">{{ section }}</option>
                      {% endfor %}
                  </select>
                  </div>

              </div>
              <div class="form-group">
                <label for="amount">Amount</label>
                  <div class="col-sm-3">
                       <input id="amount" class="form-control" name="amount" type="number" required/>
                  </div>

              </div>
              <div class="form-group">
                <label for="note">Note</label>
                  <div class="col-sm-3">
                      <input id="note" class="form-control" name="note" type="text" />
                  </div>

              </div>

              <button type="submit" class="btn btn-primary">Add Goal</button>
          </form>
        </div>
    </div>


    <div class="mt-5">
     <h3>Goals</h3><hr/>
    <div class="container">
         <table class="table" cellspacing="2" border="1">
      <tr>
         <th scope="col">Goal</th>
          <th scope="col">Section</th>
          <th scope="col">Progress</th>
          <th scope="col">Note</th>
          <th scope="col">Actions</th>
      </tr>
      {% for goal in goals %}
        <tr>
            <td>{{goal.amount}}</td>
            <td>{{goal.section}}</td>
            <td>{{goal.amount}}</td>
            <td>{{goal.note}}</td>
            <td>
                <a href="/goals" class="btn btn-dark">View Details</a>
                <a href="/goals" class="btn btn-dark">Delete Goal</a>
            </td>
        </tr>
    {% endfor %}
    </table>
    </div>

    </div>

{% endblock %}
