{% extends 'base.html' %}

{% block content %}
    <style>
        .badge-text {
            font-size: 14px;
        }
    </style>
    <h1>Fundraising Tasks Management</h1>

    <h3>Tasks</h3><hr/>
    <a href="/addedit/0" class="btn btn-primary mb-3">Add Task</a>

    <form action="/search/" method="post" >
        {% csrf_token %}

        <div class="row" >
            {% if request.user.is_instructor %}
            <div class="col-md">
              <div class="form-group">
                  <label>Section</label>
                  <select class="form-control" name="userSection" onchange="this.form.submit()">
                        <option value="0">All</option>
                          {% for section in sections %}
                                <option value="{{ section.id }}">{{ section }}</option>
                          {% endfor %}
                  </select>
              </div>
          </div>
            {% endif %}
          <div class="col-md">
              <div class="form-group">
                  <label>Event Name</label>
                  <input id="eventName" name="eventName" type="text" class="form-control" maxlength="100" size="10"/>
              </div>
          </div>

            <div class="col-md">
              <div class="form-group">
                  <label>Task Name</label>
                  <input id="task" name="task" type="text" class="form-control" maxlength="100" size="10"/>
              </div>
          </div>

            <div class="col-md">
              <div class="form-group">
                  <label>Assignee</label>
                  <input id="assignee" name="assignee" type="text" class="form-control" maxlength="100" size="10"/>
              </div>
          </div>

            <div class="col-md">
              <div class="form-group">
                  <label>Status</label>
                   <select name="status" class="form-control">
                        <option value="">All</option>
                          {% for status in statuses %}
                              <option value="{{ status }}">
                                  {{ status }}
                              </option>
                          {% endfor %}
                    </select>
              </div>
          </div>

          <div class="col-sm">
              <button class="btn btn-default btn-sm mt-3" type="submit" >Search</button>
              <a class="btn btn-default btn-sm mt-3" href="/">
                  Show All
              </a>
          </div>

        </div>
    </form>
    <table id="tasks" class="table">
      <tr>
        <th scope="col">Event Name</th>
        <th scope="col">Task</th>
        <th scope="col">Assigned To</th>
        <th scope="col">Status</th>

        <th scope="col">Due Date</th>
          <th scope="col">Section</th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
      {% for task in tasks %}
        <tr>
          <td>{{task.event}}</td>
          <td><a href="#" target="_self" onClick="showDesc('{{task.event}}', '{{task.description}}', '{{task.name}}')">{{task.name}}</a></th>
          <td>{{task.assignee}}</td>
          <td>
              {% if task.status == "Unassigned" %}
                  <span class="badge badge-secondary badge-text">{{task.status}}</span>
              {% elif task.status == "Assigned" %}
                  <span class="badge badge-primary badge-text">{{task.status}}</span>
              {% elif task.status == "Finished" %}
                  <span class="badge badge-success badge-text">{{task.status}}</span>
              {% elif task.status == "Ongoing" %}
                   <span class="badge badge-info badge-text">{{task.status}}</span>
              {% elif task.status == "On Hold" %}
                   <span class="badge badge-warning badge-text">{{task.status}}</span>
              {% else %}
                  <span class="badge badge-danger badge-text">{{task.status}}</span>
              {% endif %}
          </td>
          <td>{{task.due_date}}</td>
            <td>{{task.section}}</td>
          <td class="text-center">
            <a href="{% url 'addEditTask' task.id %}" class="btn btn-info" title="Edit"><i class="fas fa-edit"></i></a>

            <button type="button" class="btn btn-danger delete-btn" data-toggle="modal" data-target="#deleteModal"
                    data-id="{{ task.id }}" data-name="{{ task.name }}">
                <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
    {% endfor %}
    </table>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <h4>Are you sure you want to delete this task?</h4>
              <h4 id="taskName"></h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a id="deleteTask" href="/" class="btn btn-danger" title="Delete">
                Delete
            </a>
          </div>
        </div>
      </div>
    </div>

<script src="../static/tasksapp/js/index.js"></script>

{% endblock %}

