
{% extends 'base.html' %}

{% block content %}

   <h3>Users</h3>
    <hr/>
    <div class="container">
        <table id="tasks" class="table">
          <tr>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Section</th>
              <th scope="col">Role</th>
              <th scope="col">Status</th>
                <th scope="col">Action</th>
          </tr>
         {% for profile in user_profiles %}
    <tr>
      <td>{{profile.user.username}}</td>
        <td>{{profile.user.email}}</td>
        <td>{{profile.section}}</td>
        <td>{% if profile.is_instructor %}
            Instructor
            {% else %}
            Student
            {% endif %}
        </td>
        <td>{% if profile.user.is_active %}
            Active
            {% else %}
            Inactive
            {% endif %}
        </td>
      <td>
          {% if profile.user.is_active %}
              <form action="{% url 'deactivate_user' profile.user.id %}">
                  <input type="submit" class="btn btn-green" value="Deactivate User"/>
              </form>
          {% else %}
               <form action="{% url 'activate_user' profile.user.id %}">
                  <input type="submit" class="btn btn-dark" value="Activate User"/>
              </form>
          {% endif %}
      </td>
    </tr>
{% endfor %}
    </table>
    </div>


{% endblock %}
